.center-login{
  border: 1px;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-left: 30%;
}
.login-btn{
  margin-left: 30%;
  background-color: #33CCCC;
  color: white;
}
.login-h{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 25%;
  font-weight: 25px;
  font-size: 40px;
}
.heading-login{
  margin-left: 33%;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}
.image-login {
  margin-left: 25%;
  height: 100px;
}
.heading-signup{
  margin-top: 10%;
  margin-left: 33%;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}
.forget_pass-btn{
  margin-left: 10%;
  background-color: #33CCCC;
  color: white;
}
